In [2]:
from pandas_ods_reader import read_ods
import pandas as pd
base_path = "agrihack.ods"
sheet_index = 1
df = read_ods(base_path , sheet_index )
df.head()

   temperature  humidity  moisture  ir_value  output
0         25.0      70.0      70.0       7.0     1.0
1         30.0      70.0      70.0       7.0     1.0
2         35.0      70.0      70.0       7.0     1.0
3         25.0      75.0      70.0       7.0     1.0
4         30.0      75.0      70.0       7.0     1.0